<h1>Welcome <%= @user.full_name %>!</h1>

<h3>Your Trips:</h3>

<ul>
<% @user.all_trips.each do |trip| %>
    <%= trip.display %>
<% end %>
</ul>

<%= form_with url: logout_path, method: 'delete' do |f| %>
    <%= f.submit "logout" %>
<% end %>