<h1>Welcome to Day Tripper!</h1>

<nav class= "login">
<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</nav><br>

<nav class= "login">
<a class="btn btn-primary btn-lg" href="/signup" role="button">Signup</a>
</nav>